*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --desktop-width: 80vw;
}

body{
    background-image: url(./images/macos.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}

#desktop{
    background-color: hsla(260, 100%, 50%, 0.103);
    position: fixed;
    bottom: 15px;
    right: calc((100vw - var(--desktop-width))/2);
    border-radius: 5px;
    width: var(--desktop-width);
    height: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.desktop-icon{
    /* height: 50px; */
    width: 50px;
    transition: transform 0.7s;
}

.desktop-icon:hover{
    transform: scale(1.5) translateY(-15px);

}
